$fon-color: linear-gradient(rgba(7, 237, 255, 1) 0%, rgba(255, 254, 144, 0.9248949579831933) 100%);
$color-button-main: #d98df7;
$color-button-secondary: linear-gradient(
  90deg,
  rgba(180, 58, 58, 1) 0%,
  rgba(109, 166, 197, 1) 56%,
  rgba(252, 210, 69, 1) 96%
);
$color-list-string: linear-gradient(0deg, rgba(134, 144, 144, 1) 0%, rgba(186, 186, 186, 1) 100%);
$color-list: linear-gradient(0deg, rgba(129, 129, 129, 1) 0%, rgba(205, 205, 205, 1) 100%);
$color-modal-window: linear-gradient(rgba(255, 255, 210, 0.9) 19%, rgba(255, 255, 210, 0.9) 69%);
$url-text-style: 'https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Rubik+Dirt&display=swap';
$url-text-input-h1: 'https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Rubik+Dirt&family=Rubik+Doodle+Shadow&display=swap';
$url-text-label: 'https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap';
