@import '../../../../../style/variables.scss';
@import '../../../../../style/mixins.scss';

.list-li {
  @include list-string();
  justify-content: space-between;
  padding: 5px 5px 0 0;
}
.div-li {
  margin-left: 10px;
}
