@import '../../../../../style/variables.scss';
@import '../../../../../style/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@mixin inputTitle {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.list-li {
  @include list-string();
  justify-content: space-between;
  padding: 5px 5px 0 0;
}
.div-li {
  margin-left: 10px;
  height: 100%;
}
.textAreaTitleCards {
  @include inputTitle;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  width: 190px;
}
