@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';
@import url($url-text-label);

.modal-windows {
  @include modal-window;
  height: 460px;
  label {
    font-family: 'Lunasima', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
  }
  input[type='text'] {
    border-radius: 5px;
  }
  input#colorName {
    width: 50px; /* Ширина інпуту */
    height: 50px; /* Висота інпуту */
    border-radius: 50%;
  }

  input[type='color'] {
    border: none; /* Видаляє границю */
    padding: 0; /* Видаляє зайві відступи, якщо є */
  }

  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0; /* Видаляє відступи усередині елемента */
  }

  input[type='color']::-webkit-color-swatch {
    border: none; /* Видаляє границю у Chrome та Edge */
  }
  button {
    @include secondary-button;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 10px;
  }
  .setFon {
    display: flex;
    flex-direction: column;
    width: 100%;

    .setFonColor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;

      figure {
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        background-color: black;
      }
      div {
        display: flex;
        align-items: center;
        gap: 18px;

        h3 {
          width: 50px;
          font-size: 12px;
        }
      }
    }
    .setFinPeopleImage {
      padding: 10px 15px 0 15px;
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 20px;

      figure {
        width: 100px;
        height: 100px;
        padding: 0;
        margin: 0;
        border: 5px solid #72a2d6;
        border-radius: 12px;
        h2 {
          font-size: 13px;
        }
      }
      .inputImagePeople {
        width: 100px;
        height: 100px;
      }
      .divImagePeople {
        width: 100px;
        height: 100px;
        background: #c9c8cf;
        border: 5px solid purple;
        border-radius: 8px;
        div {
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          h2 {
            font-size: 14px;
          }
        }
      }
    }
    .setFonImage {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 15px 0 15px;

      figure {
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        background-color: black;
      }
    }
  }

  .figure {
    border: 2px solid transparent; /* Без обводки за замовчуванням */
    transition: border 0.3s ease; /* Анімація переходу обводки */
    cursor: pointer; /* Курсор у вигляді руки при наведенні */
  }

  .figure.active {
    border: 2px solid red; /* Обводка червоного кольору для активного блоку */
  }
}
