@import '../../../../../style/mixins.scss';
@import '../../../../../style/variables.scss';

@mixin inputTitle {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.ModalWindowsAdd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-style {
  @include modal-window;
}
.deleteCard {
  position: relative;
}
.modalPositionCardsAdd {
  background-color: darkcyan;
  border: 4px solid green;
  border-radius: 10px;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 50px;
  padding-left: 10px;
  input {
    width: 80%;
    height: 30%;
    border-radius: 10px;
  }
  input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 3px;
    outline: none;
  }
  .positionButtonCardsAdd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    .enterCards {
      background-color: green;
    }
    .deleteCards {
      background-color: red;
    }
    button {
      border-radius: 3px;
      min-width: 35px;
      height: 20px;
    }
  }
}

@keyframes expandHeightCards {
  from {
    height: 30px;
    width: 100px;
  }
  to {
    width: 200px;
    height: 60px;
  }
}
